/* @generated */
/* Course & Calendar-events colors */
/* If you change thsese colors, don't forget to update ColorSchemas.cs (in ItslUtils)*/
/* Style definitions for the (scalable) icons, it is currently using fontawesome */
/* We are using the ili- prefix (itslearning icons) to make sure we dont have any colisions while still having a relatively short selector */
.fonts-loaded-1 .ili,
.fonts-loaded-2 .ili,
.ili {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ili-color-default {
  color: #7f707d;
}
.ili-crossed-out-icon-parentcontainer {
  position: relative;
  display: inline-block;
  line-height: 16px;
}
.ili-crossed-out-icon:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 141.421356%;
  top: -20.710678%;
  display: block;
  background: #7f707d;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}
/* fa-pulse */
.ili-pulse {
  -webkit-animation: ili-spin 1s infinite steps(8);
  animation: ili-spin 1s infinite steps(8);
}
@-webkit-keyframes ili-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ili-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* fa-chevron-left */
.ili-back:before {
  content: "\f053";
}
/* fa-chevron-right */
.ili-forward:before {
  content: "\f054";
}
/* fa-chevron-down */
.ili-chevron-down:before {
  content: "\f078";
}
/* fa-bars */
.ili-category-all:before {
  content: "\f0c9";
}
/* fa-street-view */
.ili-category-by-me:before {
  content: "\f21d";
}
/* fa-star */
.ili-category-favorites:before {
  content: "\f005";
}
/* fa-share-alt */
.ili-category-shared:before {
  content: "\f1e0";
}
/* fa-clock-o */
.ili-category-recent:before {
  content: "\f017";
}
/* fa-pencil */
.ili-edit:before {
  content: "\f040";
}
/* fa-star */
.ili-favorite-marked:before {
  content: "\f005";
}
/* fa-star-o */
.ili-favorite-unmarked:before {
  content: "\f006";
}
/* fa-file */
.ili-file:before {
  content: "\f15b";
}
/* fa-files-o */
.ili-files:before {
  content: "\f0c5";
}
/* fa-headphones */
.ili-format-audio:before {
  content: "\f025";
}
/* fa-picture-o */
.ili-format-image:before {
  content: "\f03e";
}
/* fa-gamepad */
.ili-format-interactive:before {
  content: "\f11b";
}
/* fa-font */
.ili-format-text:before {
  content: "\f031";
}
/* fa-film */
.ili-format-video:before {
  content: "\f008";
}
.ili-format-flash:before {
  content: "\f008";
  color: transparent;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CjxwYXRoIGZpbGw9IiNhMzkzYTEiIGQ9Ik0wIDB2MTZoMTZ2LTE2aC0xNnpNMTMgNC40Yy0zIDAtMy4zIDIuNi0zLjMgMi42aDEuM3YyaC0yLjRjLTEuOCA1LjgtNS42IDUtNS42IDV2LTIuNWMwIDAgMi41IDAuNiAzLjktNCAxLjgtNi4xIDYuMS01LjUgNi4xLTUuNXYyLjR6Ii8+Cjwvc3ZnPgo=);
  background-size: contain;
}
/* fa-shield */
.ili-grade-level:before {
  content: "\f132";
}
/* fa-question-circle */
.ili-help:before {
  content: "\f059";
}
/* fa-tag */
.ili-keyword:before {
  content: "\f02b";
}
/* fa-laptop */
.ili-laptop:before {
  content: "\f109";
}
/* fa-dot-circle-o */
.ili-learning-objective:before {
  content: "\f192";
}
/* fa-university */
.ili-library:before {
  content: "\f19c";
}
/* fa-external-link-square */
.ili-link:before {
  content: "\f14c";
}
/* fa-spinner fa-3x fa-fw */
.ili-loading {
  font-size: 3em;
  width: 1.28571429em;
  text-align: center;
}
.ili-loading:before {
  content: "\f110";
}
/* fa-plus */
.ili-plus:before {
  content: "\f067";
}
/* fa-plus-circle */
.ili-plus-circle:before {
  content: "\f055";
}
/* fa-close */
.ili-remove:before {
  content: "\f00d";
}
/* fa-globe */
.ili-scope-community:before {
  content: "\f0ac";
}
/* fa-building */
.ili-scope-custom:before {
  content: "\f0f7";
}
/* fa-user */
.ili-user:before {
  content: "\f007";
}
/* fa-home */
.ili-scope-school:before {
  content: "\f015";
}
/* fa-building */
.ili-scope-site:before {
  content: "\f1ad";
}
/* fa-search */
.ili-search:before {
  content: "\f002";
}
/* fa-user */
.ili-user:before {
  content: "\f007";
}
/* fa-file-o*/
.ili-file:before {
  content: "\f016";
}
.ili-flag:before {
  content: "\f11d";
}
/* fa-files-o */
.ili-versioning:before {
  content: "\f0c5";
}
/* fa-sign-out */
.ili-exit:before {
  content: "\f08b";
}
/* fa-exclamation-circle */
.ili-exclamation-circle:before {
  content: "\f06a";
}
/* fa-link */
.ili-link:before {
  content: "\f0c1";
}
/* fa-unlink */
.ili-unlink:before {
  content: "\f127";
}
/* fa-hourglass-start */
.ili-hourglass-start:before {
  content: "\f251";
}
/* fa-paper-plane-o */
.ili-paper-plane-o:before {
  content: "\f1d9";
}
/* fa-envelope-open-o */
.ili-envelope-open-o:before {
  content: "\f2b7";
}
/* fa-envelope-o */
.ili-envelope-o:before {
  content: "\f003";
}
/* fa-eye */
.ili-eye:before {
  content: "\f06e";
}
/* fa-trophy */
.ili-trophy:before {
  content: "\f091";
}
/* fa-flag-checkered */
.ili-flag-checkered:before {
  content: "\f11e";
}
/* fa-exchange */
.ili-exchange:before {
  content: "\f0ec";
}
/* fa-check-circle */
.ili-check-circle:before {
  content: "\f058";
}
/* fa-users */
.ili-users:before {
  content: "\f0c0";
}
/* fa-percent */
.ili-percent:before {
  content: "\f295";
}
/* fa-exclamation-circle */
.ili-exclamation-circle:before {
  content: "\f06a";
}
/* fa-info-circle */
.ili-info-circle:before {
  content: "\f05a";
}
/* fa-red-circle */
.ili-red-circle:before {
  content: "\f06a";
}
/* fa-eye-slash */
.ili-eye-slash:before {
  content: "\f070";
}
/* fa-server */
.ili-server:before {
  content: "\f233";
}
/* fa-angle-left */
.ili-angle-left:before {
  content: "\f104";
}
/* fa-angle-right */
.ili-angle-right:before {
  content: "\f105";
}
/* fa-angle-up */
.ili-angle-up:before {
  content: "\f106";
}
/* fa-angle-down */
.ili-angle-down:before {
  content: "\f107";
}
/* fa-angle-double-left */
.ili-angle-double-left:before {
  content: "\f100";
}
/* fa-angle-double-right */
.ili-angle-double-right:before {
  content: "\f101";
}
/* fa-archive */
.ili-archive:before {
  content: "\f187";
}
/* fa-calendar-o */
.ili-calendar-o:before {
  content: "\f133";
}
/* fa-calendar */
.ili-calendar:before {
  content: "\f073";
}
/* fa-clock-o */
.ili-clock-o:before {
  content: "\f017";
}
/* fa-repeat */
.ili-repeat:before {
  content: "\f01e";
}
/* fa-repeat */
.ili-repeat:before {
  content: "\f01e";
}
/* fa-file-text-o */
.ili-file-text-o:before {
  content: "\f0f6";
}
/* fa-play-circle-o */
.ili-play-circle-o:before {
  content: "\f01d";
}
/* fa-pencil-square-o */
.ili-pencil-square-o:before {
  content: "\f044";
}
/* fa-long-arrow-right */
.ili-long-arrow-right:before {
  content: "\f178";
}
/* fa-sort-numeric-asc */
.ili-sort-numeric-asc:before {
  content: "\f162";
}
/* fa-random */
.ili-random:before {
  content: "\f074";
}
/* fa-list */
.ili-list:before {
  content: "\f03a";
}
/* fa-check-square */
.ili-check-square:before {
  content: "\f14a";
}
/* fa-square-o */
.ili-square-o:before {
  content: "\f096";
}
/* fa-circle-thin */
.ili-circle-thin:before {
  content: "\f1db";
}
/* fa-circle */
.ili-circle:before {
  content: "\f111";
}
/* fa-pulse */
.ili-pulse-linear {
  -webkit-animation: ili-spin 2s infinite linear;
  animation: ili-spin 2s infinite linear;
}
/* button with spinner (fa-spinner) */
.ili-button-in-progress:before {
  font-family: FontAwesome;
  content: "\f110";
  -webkit-animation: ili-spin 2s infinite linear;
  animation: ili-spin 2s infinite linear;
  font-size: 18px;
  display: inline-block;
}
/* fa-spinner */
.ili-spinner:before {
  content: "\f110";
}
/* fa-clipboard */
.ili-planner:before {
  content: "\f0ea";
}
/* fa-caret-right */
.ili-triangle-right:before {
  content: "\f0da";
}
/* fa-caret-down */
.ili-triangle-down:before {
  content: "\f0d7";
}
/* fa-folder */
.ili-folder:before {
  content: "\f07b";
}
/* fa-folder-o */
.ili-folder-o:before {
  content: "\f114";
}
/* fa-check */
.ili-check:before {
  content: "\f00c";
}
/* fa-comment-o */
.ili-comment-o:before {
  content: "\f0e5";
}
/* fa-ellipsis-h */
.ili-h-ellipsis:before {
  content: "\f141";
}
/* fa-ellipsis-v */
.ili-v-ellipsis:before {
  content: "\f142";
}
/* fa-trash */
.ili-trash:before {
  content: "\f1f8";
}
/* fa-trash-o */
.ili-trash-o:before {
  content: "\f014";
}
/* fa-user-plus  */
.ili-user-share:before {
  content: "\f234";
}
/* fa-history */
.ili-history:before {
  content: "\f1da";
}
/* fa-print */
.ili-print:before {
  content: "\f02f";
}
/* fa-plus-square */
.ili-plus-square:before {
  content: "\f0fe";
}
/* fa-columns */
.ili-columns:before {
  content: "\f0db";
}
/* fa-play */
.ili-play:before {
  content: "\f04b";
}
/* fa-external-link */
.ili-external-link:before {
  content: "\f08e";
}
/* fa-book */
.ili-reading-grade-level:before {
  content: "\f02d";
}
/* fa-graduation-cap */
.ili-graduation-cap:before {
  content: "\f19d";
}
/* fa-expand */
.ili-expand:before {
  content: "\f065";
}
/* fa-comment */
.ili-comment:before {
  content: "\f075";
}
/* fa-download */
.ili-download {
  color: #cfcfcf;
}
.ili-download:before {
  content: "\f019";
}
.ili-download:hover {
  color: #287ec7;
}
/* fa-paperclip */
.ili-paperclip:before {
  content: "\f0c6";
}
/* fa-cog */
.ili-cog:before {
  content: "\f013";
  color: #756372;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-Italic-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-Italic-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-Italic-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-Light-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-LightItalic-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-LightItalic-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-Semibold-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-SemiboldItalic-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-BoldItalic-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-BoldItalic-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-ExtraBold-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-ExtraBold-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-ExtraBold-webfont.svg#OpenSansExtraBold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('fonts/OpenSans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'), url('fonts/OpenSans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraBoldItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'flat-video';
  src: url('fonts/flat-video/flat-video.eot');
  src: url('fonts/flat-video/flat-video.eot?#iefix') format('embedded-opentype'), url('fonts/flat-video/flat-video.woff') format('woff'), url('fonts/flat-video/flat-video.ttf') format('truetype'), url('fonts/flat-video/flat-video.svg#flat-video') format('svg');
}
@font-face {
  font-family: "FontAwesome";
  src: url('fonts/font-awesome/fontawesome-webfont.eot');
  src: url('fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'), url('fonts/font-awesome/fontawesome-webfont.woff') format('woff'), url('fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'), url('fonts/font-awesome/fontawesome-webfont.svg?#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background: transparent !important;
}
body > form {
  padding-top: 10px;
}
body > form.itsl-editform {
  padding: 10px;
}
/* START CCL Buttons */
.ccl-iconlink.h-inactive {
  opacity: 0.7;
}
/* END CCL Buttons */
/* View page */
section.file-link-header {
  display: table;
  width: 100%;
}
section.file-link-description {
  overflow-y: auto;
  padding-right: 10px;
  margin: 0 0 10px 0;
}
section.file-link-description.max-height {
  max-height: 200px;
}
section.file-link-description .ccl-formpanel,
section.file-link-description fieldset {
  padding: 0;
  margin: 0;
}
section.file-link-link {
  display: table-cell;
  word-break: break-all;
  padding-bottom: 5px;
}
section.file-link-actions {
  display: table-cell;
  text-align: right;
  vertical-align: top;
  padding-bottom: 5px;
}
section.file-link-actions li {
  padding: 0 !important;
}
/* Title */
.ccl-formpanel-descriptionlabel {
  display: block;
  color: #545454;
  font-weight: bold;
  list-style-type: none;
  background-color: transparent;
}
.divider {
  border: 2px dashed #dedede;
  border-bottom: none;
  border-right: none;
  border-left: none;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ccl-formpanel {
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
}
.descriptiontext {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.opendiv {
  display: inline-block;
  margin-right: 20px;
}
.inlineLabel {
  display: inline-block;
  margin-right: 5px;
}
.ccl-formcontainer > .header {
  padding-bottom: 10px;
}
.iframe-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: 0;
}
.iframe-container > iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
/*CCL Date time picker START */
.ccl-datepicker .ui-datepicker-trigger {
  background: url("images/calendar34.svg") no-repeat center center;
  background-size: 17px;
}
/*CCL Date time picker END*/
.ccl-fileuploader-container {
  max-width: 100%;
  position: relative;
}
.ccl-fileuploader-container .overlay {
  background-color: #fff;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: default;
  z-index: 100;
}
.browsedisabled input[type="file"] {
  cursor: default;
}
.ccl-fileuploader-filelist .delete button,
.ccl-fileuploader-filelist .cancel button {
  background-image: url(images/delete16.png);
}
.dropbox_label {
  padding-bottom: 20px;
}
.ccl-formcontainer .ccl-formsection-showseparator {
  margin: 5px 0;
}
input.ccl-linkpicker-link-input {
  padding: 4px;
}
.padded-container,
.ccl-controltabs-content {
  padding-left: 20px;
}
.ccl-formbuttonspanel.padded-container {
  padding-left: 15px;
}
div.ccl-pagetabs.h-is-mobile {
  padding-left: 20px;
}
.ccl-okorcancel.bottom-action-buttons {
  margin-top: 10px;
  margin-bottom: 17px;
}
.fullscreen-expand-icon-color {
  color: #645862;
}
.ccl-googledrive-editlink-container {
  background-color: rgba(0, 0, 0, 0.75);
  height: 40px;
  width: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
}
.ccl-googledrive-editlink-container:hover {
  background-color: #676767;
}
.ccl-googledrive-editlink-container img {
  padding-bottom: 2px;
}
div#popup_container {
  min-width: 100px !important;
  max-width: 950px !important;
}
div#popup_container div#popup_message {
  font-size: 16px;
  margin-bottom: 40px;
}
div#popup_overlay {
  background: #404040 !important;
  opacity: 0.79 !important;
}
